body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.contact-block {
    margin: 20px;
}

.contact-elem {
    margin: 20px;
}

.index-elem {
    width: auto;
    min-height: 225px;
}

.hover-info {
    margin: 0 0 0 10px;
    border: 1px solid #5e5e5e;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    vertical-align: center;
    color: #31b0d5;
    line-height: 20px;
}

.text-dec {
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    text-align: justify;
    margin: 20px 0 20px 0;
}

.t-l {
    font-size: 26px;
}

.t-n {
    font-size: 22px;
}

.t-s {
    font-size: 18px;
}

